html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #bdbdbd;
}

#nav {
  background-color: blue;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

.sidenav-trigger {
  color: #283593;
}

.home {
  position: relative;
  height: 500px; 
  background-color: blue;
}

.header {
  color: black;
  text-align: center;
}

.parallax-container .section {
  width: 100%;
}

.noparallax-container .section {
  width: 100%;
}

.noparallax-container .noparallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


@media only screen and (min-width: 601px) {
  .parallax-container {
    width: 85%;
  }

  .noparallax-container {
    width: 85%;
  }

  .page-footer {
    width: 85%;
  }
}

/* Change parallax background images */
.parallax-container {
  background-image: url(https://source.unsplash.com/1920x1080?nature);
}

#parallax {
  display: none;
}

#parallax-mobile {
  display: none;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  .noparallax-container .section {
    margin-top: 20%;
  }

  #index-banner .section {
    top: 10%;
  }
}

.icons li {
  padding-left: 10px;
}

.icons i {
  font-size: 23px;
  vertical-align: bottom;
}

/* Contact form label color */
.input-field label {
  color: #bdbdbd;
}

/* Transparent autofill background */
@keyframes autofill {
  to {
    color: black;
    background: transparent;
  }
}

@-webkit-keyframes autofill {
  to {
    color: black;
    background: transparent;
  }
}

input:autofill {
  animation-name: autofill;
  animation-fill-mode: both;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

#submit-btn {
  display: block;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 15px;
  background-color: #bdbdbd;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: background-color 0.7s ease-out;
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  -o-transition: background-color 0.7s ease-out;
}

@media only screen and (min-width: 1024px) {
  #submit-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}